@using WebSite.Mvc.Helpers
@model List<AmortizacionMensual>
@{
    ViewBag.Title = "Amortizacion Anual";
}
<h2>@ViewBag.Title.</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                N.
            </th>
            <th>
                Capital Inicial
            </th>
            <th>
                Capital Pagado
            </th>
            <th>
                Saldo
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>
                    @d.Numero
                </td>
                <td>
                    @d.PagoInicial
                </td>
                <td>
                    @d.CapitalPagado
                </td>
                <td>
                    @d.Saldo
                </td>
            </tr>
        }
    </tbody>
</table>