@using WebSite.Mvc.Helpers
@{
    ViewBag.Title = "Amortizacion Anual";
}
<h2>@ViewBag.Title.</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                N.
            </th>
            <th>
                Cuota
            </th>
            <th>
                Capital
            </th>
            <th>
                Interes
            </th>
            <th>
                Saldo
            </th>
        </tr>
@foreach (var d in (ViewBag.Tabla as List<AmortizacionMensual>))
{
        <tr>
            <td>
                @d.Numero
            </td>
            <td>
                @d.Cuota
            </td>
            <td>
                @d.Capital
            </td>
            <td>
                @d.Interes
            </td>
            <td>
                @d.Saldo
            </td>
        </tr>
}
    </thead>
</table>